.post-editor {

  .jodit-toolbar__box {
    position: sticky !important;
    top: $header_group_height;
    background-color: white;
    z-index: 40;
    @include responsive(md-screen) {
      top: $header_mobile_height;
    }
  }

  .jodit-workplace {
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span,
    li,
    div {
      @apply select-text break-all;
    }

    min-height: 400px !important;
  }
}
