.quill {
  flex: 1;
  display: flex;
  flex-direction: column;

  .ql-editor {
    min-height: 500px;
    outline: none;

    img {
      max-width: 300px!important;
      max-height: 500px!important;
      object-fit: cover;
    }
  }

  .ql-toolbar {
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 10;
  }
}
